<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>Office Action Search</title>
  <meta name="description" content="Office Action Search">
  <meta name="keywords" content="office actions">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="theme-color" content="#004c97">
  <meta property="og:title" content="Customize search results">
  <meta property="og:description" content="">
  <link rel="shortcut icon" href="/bower_components/designpatterns/generated/favicon.ico">
  <link href="/bower_components/designpatterns/generated/styles/vendor.css" rel="stylesheet" />
  <link href="/bower_components/designpatterns/generated/styles/main.css" rel="stylesheet" />
  <link href="/bower_components/designpatterns/generated/styles/appDemo.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/client/styles/layout_custom.css">
</head>

<body class="search-results">
  <div class="skipLinks alert-info">
    <a class="sr-only focusable" href="#search">Skip to search</a>
    <a class="sr-only focusable" href="#searchResults">Skip to search results</a>
    <a class="sr-only focusable" href="#filters">Skip to search results filters</a>
  </div>
  <header class="app-header clearfix">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid container--full">
        <div class="navbar-header">
          <a href="/designpatterns/index.html" class="navbar-brand"><strong>USPTO</strong> <span class="light">Patent Quality Search Tool</span></a>
        </div>
        <ul class="nav navbar-nav">
          <li>
            <a href="/help">Help</a>
          </li>
          <li>
            <a href="/newsearch">Search</a>
          </li>
        </ul>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon icon-user margin-right-1 icon-inverse"></i>{{#if email}} {{email}} {{/if}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!-- <li><a href="user-profile.html">User Profile</a></li>
                           <li><a href="#modal-appSettings" data-toggle="modal">Settings</a></li> -->
                <li class="divider" role="separator"></li>
                <li><a href="/logout">Sign out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="wrapper container-fluid container--full">
    <div class="row-grid">
      <div class="pane-center col">
        <div class="panel--page panel panel-default">
          {{#if accessOK}}
          <a tabindex="-1" id="search"></a>
          <div class="header keyline-bottom">
              <form role="form" action="/newsearch" class="padding-top-2 padding-right-2 padding-bottom-2">
                <h2 class="margin-top-0">Patent Data Search</h2>
                <div class="input-search input-group">
                  <input type="text" name="q" value="{{term}}" aria-label="Search all fields" title="Search all fields" class="form-control" placeholder="Search all fields" id="txt-find">
                  <span class="input-group-btn">
                  <button class="btn btn-primary"><i class="icon icon-inverse icon-search"></i></button>
                </span>
                </div>
                <div style="margin-bottom: 0;" class="help-block">
                  <b><i>Examples: Search for law 112(f):<code>"112\(f\)"</code> or for Art Unit: <code>"Art Unit 3669"~2</code>  </i></b>
                </div>
                <label class="radio-inline">
                  <input type="radio" name="dataset" id="inlineRadio1" value="oa" {{#unless ptab}} checked {{/unless}}> Office Actions
                </label>
                <label class="radio-inline">
                  <input type="radio" name="dataset" id="inlineRadio2" value="ptab" {{#if ptab}} checked {{/if}}> PTAB
                </label>
              </form>
          </div>
          {{/if}}
          <div class="main-wrapper row-grid">
            {{#unless accessOK}}
            <div class="app-sidebar filters keyline-right">
              This Search engine is for authorized users only.
              <hr> For access, please contact Thomas Beach
            </div>
            {{/unless}}
            {{#if accessOK}}
            <div class="app-sidebar filters keyline-right">
              <a tabindex="-1" id="filters"></a>
              <div class="filter-heading">
                <span tabindex="0" class="h4">Refine by</span> <a class="filters-clear" href="/newsearch">Clear</a>
              </div>
              <form class="filters-flat js-filterSwitch" role="form" action="/newsearch">
                <div class="filter hide">
                  <input type="radio" name="dataset" id="inlineRadio1" value="oa" {{#unless ptab}} checked {{/unless}}>
                  <input type="radio" name="dataset" id="inlineRadio2" value="ptab" {{#if ptab}} checked {{/if}}> PTAB
                  <input type="text" name="q" value="{{term}}" aria-label="Search all fields" title="Search all fields" class="form-control hide" placeholder="Search all fields" id="txt-find">
                </div>
                <div class="filter">
                  <div class="h5" tabindex="0">Document Date</div>
                  <div class="form-group">
                    <span class="input-icon icon icon-calendar-o"></span>
                    <input name="fromdate" type="text" placeholder="Start" class="datepicker form-control" value="{{fromdate}}" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" title="Start date" aria-label="Start date">
                  </div>
                  <div class="form-group margin-bottom-0">
                    <span class="input-icon icon icon-calendar-o"></span>
                    <input name="todate" type="text" placeholder="End" class="datepicker form-control" value="{{todate}}" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" title="End date" aria-label="End date">
                  </div>
                </div>
                <div class="filter">
                  <label for="s2id_autogen2" class="h5 control-label">Select Action Type</label>
                  <select class="select2 form-control" tabindex="-1" title="" name="documentcode" id="documentcodeID">
                    <option selected disabled>Choose here</option>
                    <option value="RXCTIN">INTERFERENCE COMMUNICATION: INITIAL MEMO</option>
                    <option value="RDIN">RX - DECISION STAYING REEXAM IN FAVOR OF INTERFERENCE</option>
                    <option value="M327-D">PUB OTHER MISCELLANEOUS COMMUNICATION TO APPLICANT</option>
                    <option value="CTNF">NON-FINAL REJECTION</option>
                    <option value="CNTA">ALLOWABILITY NOTICE</option>
                    <option value="CTFR">FINAL REJECTION</option>
                    <option value="CNOA">CORRECTED NOTICE OF ALLOWABILITY</option>
                    <option value="N271">RESPONSE TO AMENDMENT UNDER RULE 312</option>
                    <option value="REXD">RX - EX PARTE REEXAM ORDER - DENIED</option>
                    <option value="EX.R">REASONS FOR ALLOWANCE</option>
                    <option value="RTDE">RX - PETITION DECISION - DENIED</option>
                    <option value="INTNO">INTERFERENCE NOTIFICATION TO PATENTEE RULE 607</option>
                    <option value="L.SI">SUSPENSION - INTERFERENCE IN ANOTHER CASE</option>
                    <option value="RXBPAI">REEXAM FORWARDED TO BOARD OF PATENT APPEALS AND INTERFERENCES</option>
                    <option value="RXSRXI">DECISION STAYING REEXAM PROCEEDING IN FAVOR OF INTERFERENCE PROCEEDING</option>
                    <option value="CTMS">MISCELLANEOUS ACTION WITH SSP</option>
                    <option value="M327">MISCELLANEOUS COMMUNICATION TO APPLICANT - NO ACTION COUNT</option>
                    <option value="M327-E">BOA MISCELLANEOUS COMMUNICATION TO APPLICANT</option>
                    <option value="P132">MISCELLANEOUS COMMUNICATION</option>
                    <option value="R327">RX - MISCELLANEOUS COMMUNICATION TO APPLICANT</option>
                    <option value="RXM327">MISCELLANEOUS COMMUNICATION TO APPLICANT</option>
                    <option value="RXMISC">MISCELLANEOUS ACTION MAILED</option>
                    <option value="RXMMIS">MISCELLANEOUS LETTER MAILED</option>
                    <option value="SEMI">SE - MISCELLANEOUS DECISION/OFFICE NOTICE IN SE</option>
                    <option value="RTGR">RX - PETITION DECISION - GRANTED</option>
                    <option value="RTDI">RX - PETITION DECISION - DISMISSED</option>
                  </select>
                </div>
                <div class="filter">
                  <div class="h5" tabindex="0">Art Unit</div>
                  <div class="form-group">
                    <input type="text" name="art_unit" aria-label="Search Art Unit Number" title="Search Art Unit Number" class="form-control" placeholder="Search Art Unit Number" value="{{artunit}}">
                    <div style="margin-bottom: 0;" class="help-block">
                      <b><i>Example: Search for Art Unit number <code>3669</code></i></b>
                    </div>
                  </div>
                </div>
                <span class="input-group-btn text-center">
                  <button class="btn btn-primary">Refine Search</button>
                </span>
              </form>
            </div>
            {{/if}}
            <div class="row-grid">
              <div class="main-content col">
                <div class="panel-body">
                  <div class="results-header">
                    <a tabindex="-1" id="searchResults"></a>
                    <a href="#void" class="link-sidebar"><i class="icon icon-columns"></i>Refine</a>
                    <div class="pg-actions clearfix">
                      <div class="row">
                        {{#if term}}<span> Search Term: <span class="label label-success subtle">{{term}}</span> </span>
                        {{/if}}
                        {{#if artunit}}<span> Art Unit: <span class="label label-success subtle">{{artunit}}</span></span>
                        {{/if}}
                        {{#if documentcode}}<span> Action Type: </span><span class="label label-success subtle">{{documentcode}}</span>
                        {{/if}}
                        {{#if fromdate}}<span> Date Range: </span><span class="label label-success subtle">{{fromdate}} - {{todate}}</span>
                        {{/if}}
                        {{#if total}}
                          <br>
                          <span class="pull-left margin-top-0">{{total}} results took {{took}} ms</span>
                          <span><a href="javascript:void(0);" onclick="resizeText(1)" id="plustext"> [+] Make results bigger</a> | <a href="javascript:void(0);" onclick="resizeText(-1)" id="minustext">[-] Make results smaller</a></span>
                        {{/if}}

                        <div class="btn-pgActions btn-group">
                          {{#if term}}
                            <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default dropdown-toggle" id="btn-pgActions">Download <span class="caret"></span></button>
                            <ul aria-labelledby="btn-pgActions" class="dropdown-menu">
                              <li role="presentation"><a target="_BLANK" href="/download?q={{term}}">Download CSV</a></li>
                            </ul>
                          {{/if}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table--searchResults js-tableSwitch">
                    <div class="table-responsive">
                      {{{body}}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="/bower_components/designpatterns/generated/scripts/vendor.js"></script>
  <script src="/bower_components/designpatterns/generated/scripts/plugins.js"></script>
  <!-- <script src="https://components.uspto.gov/js/ais/2-4-pattern-library.js"></script> -->
  <script src="/bower_components/designpatterns/generated/scripts/appDemo.js"></script>
  <script src="/client/scripts/script.js"></script>
</body>
</html>
