<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>Office Action Search</title>
  <meta name="description" content="Office Action Search">
  <link rel="shortcut icon" href="/bower_components/designpatterns/generated/favicon.ico">
  <link href="/bower_components/designpatterns/generated/styles/vendor.css" rel="stylesheet" />
  <link href="/bower_components/designpatterns/generated/styles/main.css" rel="stylesheet" />
  <link href="/bower_components/designpatterns/generated/styles/appDemo.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/client/styles/layout_custom.css">
</head>

<body class="search-results">
  <div class="skipLinks alert-info">
    <a class="sr-only focusable" href="#search">Skip to search</a>
    <a class="sr-only focusable" href="#searchResults">Skip to search results</a>
    <a class="sr-only focusable" href="#filters">Skip to search results filters</a>
  </div>
  <header class="app-header clearfix">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid container--full">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon icon-user margin-right-1 icon-inverse"></i>{{#if email}} {{email}} {{/if}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!-- <li><a href="user-profile.html">User Profile</a></li>
                           <li><a href="#modal-appSettings" data-toggle="modal">Settings</a></li> -->
                <li class="divider" role="separator"></li>
                <li><a href="/logout">Sign out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="wrapper container-fluid container--full">
    <div class="row-grid">
      <nav class="pane-left keyline-bottom">
        <a tabindex="-1" id="contentNav"></a>
        <div class="close-sidebar keyline-bottom clearfix">
          <button type="button" class="btn-closeSidebar pull-right btn btn-sm btn-default btn-hover"><i class="icon icon-angle-double-left"></i> Close</button>
        </div>
        <ul role="tab-list" class="nav nav-stacked">
          <li tabindex="0" class="category" role="presentation"><i class="icon icon-dashboard"></i> Dashboards</li>
          <li role="presentation"><a href="#" role="tab">Systems summary</a></li>
          <li role="presentation"><a href="#" role="tab">System A</a></li>
          <li role="presentation"><a href="#" role="tab">System B</a></li>
          <li role="presentation"><a href="#" role="tab">System C</a></li>
          <li tabindex="0" class="category" role="presentation"><i class="icon icon-bar-chart"></i> Reports</li>
          <li role="presentation"><a href="#" role="tab">Fees and transactions</a></li>
          <li role="presentation"><a href="#" role="tab">Trends</a></li>
          <li role="presentation"><a href="#" role="tab">Disposition</a></li>
          <li role="presentation"><a href="#" role="tab">Custom</a></li>
        </ul>
      </nav>
      <div class="pane-center col">
        <div class="panel--page panel panel-default">
          <a tabindex="-1" id="search"></a>
          <div class="header keyline-bottom">
            {{#unless accessOK}}
              This Search engine is for Authorized users only.
              <hr> For access, please contact Thomas Beach
            {{/unless}}
            {{#if accessOK}}
              <form role="form" action="/newsearch" class="padding-top-2 padding-right-2 padding-bottom-2">
                <h2 class="margin-top-0">Patent Data Search</h2>
                <div class="input-search input-group">
                  <input type="text" name="q" value="{{#if term}}{{term}}{{/if}}" aria-label="Search all fields" title="Search all fields" class="form-control" placeholder="Search all fields" id="txt-find">
                  <span class="input-group-btn">
                  <button class="btn btn-primary"><i class="icon icon-inverse icon-search"></i></button>
                </span>
                </div>
                <label class="radio-inline">
                  <input type="radio" name="dataset" id="inlineRadio1" value="oa" {{#unless ptab}} checked {{/unless}}> Office Actions
                </label>
                <label class="radio-inline">
                  <input type="radio" name="dataset" id="inlineRadio2" value="ptab" {{#if ptab}} checked {{/if}}> PTAB
                </label>
                <div style="margin-bottom: 0;" class="help-block">
                  <b><i>Examples: Search for law 112(f) ..... <code>"112\(f\)"</code>  or search for Art Unit .. <code>"Art Unit 3669"~2</code>  </i></b>
                </div>
                <div class="help-button">
                  <a href="/help" class="btn btn-primary">Help</a>
                </div>
          </div>
          <div class="main-wrapper row-grid">
            <div class="app-sidebar filters keyline-right">
              <a tabindex="-1" id="filters"></a>
              <div class="close-sidebar keyline-bottom clearfix">
                <button class="btn-closeSidebar pull-right btn btn-sm btn-default btn-hover"><i class="icon icon-angle-double-left"></i> Close</button>
              </div>
              <div class="filter-heading">
                <span tabindex="0" class="h4">Refine by</span> <a class="filters-clear" href="">Clear</a>
              </div>
              <div class="filter-list">
                <div class="filter-group-content">
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <span class="input-icon icon icon-calendar-o"></span>
                      <input name="fromdate" type="text" placeholder="Start" class="datepicker form-control" value="{{fromdate}}" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" title="Start date" aria-label="Start date">
                    </div>
                    <div class="form-group col-sm-6">
                      <span class="input-icon icon icon-calendar-o"></span>
                      <input name="todate" type="text" placeholder="End" class="datepicker form-control" value="{{todate}}" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" title="End date" aria-label="End date">
                    </div>
                    <div class="form-group col-sm-6">
                      <input type="text" name="art_unit" aria-label="Search Art Unit Number" title="Search Art Unit Number" class="form-control" placeholder="Search Art Unit Number" value="{{#if artUnit}} {{artUnit}}{{/if}}">
                      <span>Please use 4-6 digit number</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-search input-group" style="margin-left: 1em;">
                <span class="input-group-btn">
                  <button class="btn btn-primary" style="z-index: 1;">Refine Search</button>
                </span>
              </div>
              </form>
              {{/if}}
            </div>
          </div>
          <div class="row-grid">
            <div class="main-content col">
              <div class="panel-body">
                <div class="results-header">
                  <a tabindex="-1" id="searchResults"></a>
                  <a href="#void" class="link-sidebar"><i class="icon icon-columns"></i>Refine</a>
                  <div class="pg-actions clearfix">
                    <div class="row">
                      {{#if term}}<span> Search Term: <span class="label label-success subtle">{{term}}</span> </span>
                      {{/if}}

                      {{#if artUnit}}<span> Art Unit: <span class="label label-success subtle">{{artUnit}}</span></span>
                      {{/if}}

                      {{#if total}}
                        <br>
                        <span class="pull-left margin-top-0">{{total}} results took {{took}} ms</span>
                        <span><a href="javascript:void(0);" onclick="resizeText(1)" id="plustext"> [+] Make results bigger</a> | <a href="javascript:void(0);" onclick="resizeText(-1)" id="minustext">[-] Make results smaller</a></span>
                      {{/if}}

                      <div class="btn-pgActions btn-group">
                        {{#if term}}
                          <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default dropdown-toggle" id="btn-pgActions">Download <span class="caret"></span></button>
                          <ul aria-labelledby="btn-pgActions" class="dropdown-menu">
                            <li role="presentation"><a target="_BLANK" href="/download?q={{term}}">Download CSV</a></li>
                          </ul>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table--searchResults js-tableSwitch">
                  <div class="table-responsive">
                    {{{body}}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="/bower_components/designpatterns/generated/scripts/vendor.js"></script>
  <script src="/bower_components/designpatterns/generated/scripts/plugins.js"></script>
  <script src="https://components.uspto.gov/js/ais/2-4-pattern-library.js"></script>
  <script src="/bower_components/designpatterns/generated/scripts/appDemo.js"></script>
  <script src="/client/scripts/script.js"></script>
</body>
</html>
